.window
  .content
    %h2 Edit

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!

      %p
        = f.text_field :image_link, :id => "image_link", :style => "display: none;"
        .profile_images
          %img.active{:src => current_user.image_url}
          - if ax = UserMeta.where(:key => "facebook_img", :user_id => current_user.id).first
            %img{:src => ax.value}
          - if ax = UserMeta.where(:key => "twitter_img", :user_id => current_user.id).first
            %img{:src => ax.value}
          - if ax = UserMeta.where(:key => "google_img", :user_id => current_user.id).first
            %img{:src => ax.value}
          - if current_user.email
            %img{:src => current_user.gravatar_url}
          .m-btn.icn-only
            %i.icon-ellipsis-vertical

      = f.email_field :email, :placeHolder => "Email"

      = f.text_field :nickname, :placeHolder => "Nickname"
      - if !current_user.encrypted_password.blank?
        = f.password_field :current_password, :placeHolder => "Current password (required)"

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: 
          = resource.unconfirmed_email
      %h6 Leave it blank if you don't want to change it
      = f.password_field :password, :placeHolder => "New password"
      = f.password_field :password_confirmation, :placeHolder => "Password Confirmation"
      
      = f.submit "Update", :class => "m-btn blue btn-block"

    %h3 Social
    - if current_user.facebook_uid != '0' || current_user.twitter_uid != '0' || current_user.google_uid != '0'
      .m-btn-group.socl
        %a.m-btn.disabled
          Signed with:
        - if current_user.facebook_uid != '0'
          %a.m-btn.icn-only.btn-facebook.cancellable{:href => user_omniauth_authorize_url(:facebook)}
            %i.icon-facebook
        - if current_user.twitter_uid != '0'
          %a.m-btn.icn-only.btn-twitter.cancellable{:href => user_omniauth_authorize_url(:twitter)}
            %i.icon-twitter
        - if current_user.google_uid != '0'
          %a.m-btn.icn-only.btn-google.cancellable{:href => user_omniauth_authorize_url(:google_oauth2)}
            %i.icon-google-plus

    - if current_user.facebook_uid == '0' || current_user.twitter_uid == '0' || current_user.google_uid == '0'
      .m-btn-group.socl
        %a.m-btn.disabled
          Add:
        - if current_user.facebook_uid == '0'
          %a.m-btn.icn-only.btn-facebook{:href => user_omniauth_authorize_url(:facebook)}
            %i.icon-facebook
        - if current_user.twitter_uid == '0'
          %a.m-btn.icn-only.btn-twitter{:href => user_omniauth_authorize_url(:twitter)}
            %i.icon-twitter
        - if current_user.google_uid == '0'
          %a.m-btn.icn-only.btn-google{:href => user_omniauth_authorize_url(:google_oauth2)}
            %i.icon-google-plus

    %h3 Cancel my account

    = button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "m-btn red btn-block"

    = link_to "Back", :back, :class => "m-btn blue btn-block"
