.window
  = render "devise/login_tabs"
  .content
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.text_field :login, :autofocus => true, :placeHolder => "Nickname or Email"

      = f.password_field :password, :placeHolder => "Password"

      - if devise_mapping.rememberable?
        %label.checkbox
          = f.check_box :remember_me
          Remember me

      = f.submit "Log in", :class => "m-btn blue btn-block"
    = render "devise/login_socl"

    .alert.alert-info
      Am dat reset la baza de date in urma unor modificari. In viitorul apropiat vor mai fi inca cateva schimbari asemanatoare.
