.window.big
  .content
    %h3
      .col
        .col
          %img.user-profile{:src => @user.image_url}
        .col
          = @user.name
          .m-btn-group
            - if current_user.id != @user.id
              %br
              - if is_user_friend_with(current_user.id, @user.id, true)
                %button.follow-btn.m-btn.green.cancellable{:user => @user.id}
                  %i.icon-ok-sign
                  Friend
                - if Notification.where(:title => "Game Request", :user_id => current_user.id, :friend_id => @user.id).count == 0
                  %a.follow-btn.m-btn.blue{:href => invite_user_path(@user.id)}
                    Invite
              - else
                - if is_user_friend_with(current_user.id, @user.id, false)
                  %button.follow-btn.m-btn{:user => @user.id}
                    %i.icon-remove-sign
                    Waiting
                - else
                  %button.follow-btn.m-btn.blue{:user => @user.id}
                    %i.icon-plus-sign
                    Add friend
            - else
              - unless @user.is_guest
                %br
                %a.m-btn.blue{:href => edit_user_registration_path}
                  Edit
    .clear
    %h4.results
      %a{:href => user_position_path(@user.id)} ELO: #{@user.elo}
      %span
        W: #{@user.wins} 
      %span
        L: #{@user.losses}
    - v = UserAchievement.where(:user_id => @user.id).includes(:achievement)
    - if v.count > 0
      %hr
      %h4 Achievements unlocked
      .profile-achievements
        - v.each do |ach|
          .achievement
            %img{:src => ach.achievement.icon}
            .title 
              = ach.achievement.name
      .clear
    %hr
    - if is_user_friend_with(current_user.id, @user.id, true)
      - matches = Game.where("((fst_user=? and scd_user=?) or (fst_user=? and scd_user=?)) and finished=true", current_user.id, @user.id, @user.id, current_user.id).order('id DESC').limit(7).includes(:user1).includes(:user2)
      - if matches.count > 0
        %h4 #{@user.name} vs you
        = render "user/results", :matches => matches
    - matches = Game.where("(fst_user=? or scd_user=?) and finished=true", @user.id, @user.id).order('id DESC').limit(7).includes(:user1).includes(:user2)
    - if matches.count > 0
      %h4 #{@user.name} vs random players
      = render "user/results", :matches => matches
