.container.colorfull-container
  %h3
    .col
      .col
        %img{:src => @user.image_url}
      .col
        = @user.name
        - if current_user.id != @user.id
          %br
          - if is_user_friend_with(current_user.id, @user.id, true)
            %button.follow-btn.btn.btn-success.active{:user => @user.id,
                                             :type => "button", 
                                             "data-toggle" => "button", 
                                             "data-loading-text" => "Waiting..."}
              %span
                %i.icon-ok-sign
                Friend
            - if Notification.where(:title => "Game Request", :user_id => current_user.id, :friend_id => @user.id).count == 0
              %a.follow-btn.btn.btn-primary{:href => invite_user_path(@user.id)}
                Invite
          - else
            - if is_user_friend_with(current_user.id, @user.id, false)
              %button.follow-btn.btn{:user => @user.id,
                                               :type => "button", 
                                               "data-toggle" => "button",
                                               "data-loading-text" => "Waiting..."}
                %span
                  %i.icon-remove-sign
                  Waiting
            - else
              %button.follow-btn.btn.btn-primary{:user => @user.id,
                                               :type => "button", 
                                               "data-toggle" => "button",
                                               "data-loading-text" => "Waiting..."}
                %span
                  %i.icon-plus-sign
                  Add friend
        - else
          %br
          %a.btn.btn-primary{:href => edit_user_registration_path}
            Edit
  .clear
  %h4.results
    %a{:href => user_position_path(@user.id)} ELO: #{@user.elo}
    %span
      W: #{@user.wins} 
    %span
      L: #{@user.losses}
  %hr
  - if is_user_friend_with(current_user.id, @user.id, true)
    - matches = Game.where("((fst_user=? and scd_user=?) or (fst_user=? and scd_user=?)) and finished=true", current_user.id, @user.id, @user.id, current_user.id).order("id DESC").limit(5)
    - if matches.count > 0
      %h4 #{@user.name} vs you
      %table.table.table-striped.games-results
        %tbody
          - matches.each do |game|
            %tr
              %td{:class => ("winner" if game.winner == game.fst_user)}
                %a{:href => user_profile_path(game.fst_user)}
                  = User.find(game.fst_user).name
              %td{:class => ("winner" if game.winner == game.scd_user)}
                %a{:href => user_profile_path(game.scd_user)}
                  = User.find(game.scd_user).name

  - matches = Game.where("(fst_user=? or scd_user=?) and finished=true", @user.id, @user.id).limit(7)
  - if matches.count > 0
    %h4 #{@user.name} vs random players
    %table.table.table-striped.games-results
      %tbody
        - matches.each do |game|
          %tr
            %td{:class => ("winner" if game.winner == game.fst_user)}
              %a{:href => user_profile_path(game.fst_user)}
                = User.find(game.fst_user).name
            %td{:class => ("winner" if game.winner == game.scd_user)}
              %a{:href => user_profile_path(game.scd_user)}
                = User.find(game.scd_user).name

