%html{"ng-app" => "MyModule"}
  %head
    %title Airplanes
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    - if @mobile_device
      %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"}
    %meta{:property => "og:title", :content => "Airplanes"}
    %meta{:property => "og:description", :content => "By Andrici Cezar & Stolniceanu Stefan"}
    %meta{:property => "og:site_name", :content => "Airplanes"}
    %meta{:property => "og:image", :content => "http://avioanele.androidul.com/assets/background-1.jpg"}

  %body
    - if user_signed_in?
      = render "layouts/states"
      = render "layouts/navbar"
    .turbolinks-container
      .container-image-1
      - if user_signed_in?
        .invelis
          %header
            .container
              .col.alignright
                .col.elo
                  %a{:href => user_position_url(current_user.id)}
                    ELO: #{current_user.elo}
                .col.links-group
                  %a{:href => home_path}
                    %i.icon-home
                  %a{:href => destroy_user_session_path, "data-method" => "delete"}
                    %i.icon-signout

          = yield
      - else
        = yield
    = javascript_include_tag "application", "data-turbolinks-eval" => false
    - if @mobile_device
      = javascript_include_tag "hammer-events", "data-turbolinks-eval" => false

